.container {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
}

.sidebar {
  display: block;
  overflow: visible;
  transition: margin-left 500ms;
  position: sticky;
  top: var(--header-height, 80px);
  align-self: flex-start;

  @container (max-width: theme('screens.sm')) {
    display: none;
  }
}

.sidebarToggle {
  position: absolute;
  top: 0;
  right: -32px;
}

.content {
  flex: 1;
}

.drawerButton {
  display: none;

  @container (max-width: theme('screens.sm')) {
    display: block;
  }
}

.drawerHeader {
  padding: var(--mantine-spacing-xs);
  margin-bottom: 0;
  box-shadow: var(--mantine-shadow-sm);
}

.filterContainer {
  border-top: light-dark(
    1px solid var(--mantine-color-gray-2),
    1px solid var(--mantine-color-dark-4)
  ) !important;
}
