.navLinkWrapper {
  transition: all 150ms ease;

  &:hover {
    background-color: light-dark(
      var(--mantine-color-gray-0),
      var(--mantine-color-dark-6)
    );
  }
}

.rowDefault {
  align-items: flex-start;
}

.rowIcon {
  opacity: 0.8;
  transition: opacity 150ms ease;

  .navLinkWrapper:hover & {
    opacity: 1;
  }
}

.rowMeta {
  letter-spacing: 0.04em;
  line-height: 1.2;
}
