.tableCell {
  height: 50px;
  background-color: light-dark(
    var(--mantine-color-white),
    var(--mantine-color-dark-6)
  );
}

.baseCostCell {
  background-color: light-dark(
    var(--mantine-color-gray-1),
    var(--mantine-color-dark-4)
  );
}
