.label {
  font-size: 12px;
  font-weight: 600;

  &[data-checked] {
    color: var(--mantine-color-white);
    border: 1px solid var(--mantine-primary-color-filled);

    &:hover {
      color: var(--mantine-color-white);
      border: 1px solid var(--mantine-primary-color-filled);
    }

    &[data-variant='filled'] {
      background-color: transparent;
    }
  }
}

.opened {
  transform: rotate(180deg);
  transition: transform 200ms ease;
}

.actionButton {
  @container (max-width: theme('screens.sm')) {
    width: 100%;
  }
}

.indicatorRoot {
  line-height: 1;
}

.indicatorIndicator {
  line-height: 1.6;
}
