.reactions {
  position: absolute;
  padding: 4px;
  bottom: var(--mantine-spacing-sm);
  left: var(--mantine-spacing-sm);
  border-radius: var(--mantine-radius-md);
  background: var(--mantine-color-dark-6);
  opacity: 0.6;
  box-shadow: 0 -2px 6px 1px rgba(0, 0, 0, 0.16);
}

[data-mantine-color-scheme="light"] .reactions {
  background: var(--mantine-color-gray-0);
}

.reactionsWithControls {
  bottom: initial;
  top: 32px;
  left: 8px;
}

.vimeoReactions {
  bottom: 48px;
  left: 8px;
}

.vimeoContextMenu {
  right: 40px;
}