.card {
  background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-5));
  height: 100%;
  width: 100%;
  margin: 0;
  padding: var(--mantine-spacing-md);
  border-radius: var(--mantine-radius-md);
  display: flex;
}

.title {
  font-size: 24px;
  font-weight: 600;
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
}

.subtitle {
  font-size: 18px;
  font-weight: 500;
}

.listItem {
  color: light-dark(var(--mantine-color-black), var(--mantine-color-dark-0));
  font-size: 16px;

  .mantine-Text-root {
    color: light-dark(var(--mantine-color-black), var(--mantine-color-dark-0));
  }
}
