# Since .env is gitignored, you can use .env-example to build a new `.env` file when you clone the repo.
# Keep this file up-to-date when you add new variables to `.env`.
# This file will be committed to version control, so make sure not to have any secrets in it.
# If you are cloning this repo, create a copy of this file named `.env` and populate it with your secrets.
# When adding additional env variables, the schema in /env/schema.mjs should be updated accordingly
# The default values for Prisma, Redis, S3, and Email are set to work with the docker-compose setup

# Prisma
# (required)
DATABASE_URL=postgresql://modelshare:postgres@localhost:5432/postgres?schema=public&connection_limit=5
# (required)
DATABASE_REPLICA_URL=postgresql://modelshare:postgres@localhost:5432/postgres?schema=public&connection_limit=5
REDIS_URL=redis://:redis@localhost:6379

# Logging
LOGGING=session-helpers,prisma:error,prisma:warn,prisma:query,update-metrics,send-notifications,jobs

# Next Auth
NEXTAUTH_SECRET=thisisnotasecret
NEXTAUTH_URL=http://localhost:3000

# Next Auth Discord Provider
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=

# Next Auth GitHub Provider
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

# Next Auth Google Provider
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Next Auth Reddit Provider
REDDIT_CLIENT_ID=
REDDIT_CLIENT_SECRET=

# Integrations
DISCORD_BOT_TOKEN=
DISCORD_GUILD_ID=

# File uploading
S3_UPLOAD_KEY=REFER_TO_README
S3_UPLOAD_SECRET=REFER_TO_README
S3_UPLOAD_BUCKET=modelshare
S3_UPLOAD_REGION=us-east-1
S3_UPLOAD_ENDPOINT=http://localhost:9000
S3_SETTLED_BUCKET=settled
S3_IMAGE_UPLOAD_BUCKET=images
S3_ORIGINS=http://localhost:3000
S3_FORCE_PATH_STYLE=true

# Cloudflare
CF_IMAGES_TOKEN=
CF_ACCOUNT_ID=
CF_API_TOKEN=
CF_ZONE_ID=

# PlayFab
PLAYFAB_TITLE_ID=
PLAYFAB_SECRET_KEY=

# Canny
NEXT_PUBLIC_CANNY_FEEDBACK_BOARD=
NEXT_PUBLIC_CANNY_BUG_BOARD=
NEXT_PUBLIC_CANNY_APP_ID=
CANNY_SECRET=

# Client env vars
NEXT_PUBLIC_IMAGE_LOCATION=
NEXT_PUBLIC_CONTENT_DECTECTION_LOCATION=https://publicstore.civitai.com/content_detection/model.json
NEXT_PUBLIC_CIVITAI_LINK=https://link.civitai.com
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=

# Clickhouse Connectivity
CLICKHOUSE_HOST=
CLICKHOUSE_USERNAME=
CLICKHOUSE_PASSWORD=
CLICKHOUSE_TRACKER_URL=

# Email
EMAIL_HOST=localhost
# (required)
EMAIL_PORT=1025
EMAIL_USER=
EMAIL_PASS=
EMAIL_FROM=

# Endpoint Protection
JOB_TOKEN=
WEBHOOK_TOKEN=

# Site Configuration
UNAUTHENTICATED_DOWNLOAD=true
UNAUTHENTICATED_LIST_NSFW=false
SHOW_SFW_IN_NSFW=false
MAINTENANCE_MODE=false
RATE_LIMITING=true
TRPC_ORIGINS=

# Security
SCANNING_ENDPOINT=http://scan-me.civitai.com/enqueue
SCANNING_TOKEN=thisisnotatoken

# Delivery worker
DELIVERY_WORKER_ENDPOINT=https://delivery-worker.civitai.com/download
DELIVERY_WORKER_TOKEN=thisisnotatoken

# Payments
STRIPE_SECRET_KEY=thisisnotakey
STRIPE_WEBHOOK_SECRET=thisisnotasecret
STRIPE_CONNECT_WEBHOOK_SECRET=thisisnotasecret
STRIPE_DONATE_ID=price_1MZHyDLAn4if8jivVbH5PhMc
STRIPE_METADATA_KEY=tier

# Features
FEATURE_FLAG_EARLY_ACCESS_MODEL=public

NEXT_PUBLIC_GIT_HASH=somehash

# MeiliSearch
SEARCH_HOST=https://localhost:7700
SEARCH_API_KEY=aSampleMasterKey
NEXT_PUBLIC_SEARCH_HOST=https://localhost:7700
NEXT_PUBLIC_SEARCH_CLIENT_KEY=aSampleKey

# Scheduler endpoint
SCHEDULER_ENDPOINT=url
ORCHESTRATOR_ENDPOINT=url
ORCHESTRATOR_ACCESS_TOKEN=cooltoken

# Civitai Buzz
BUZZ_ENDPOINT=https://localhost
SIGNALS_ENDPOINT=https://localhost
NEXT_PUBLIC_SIGNALS_ENDPOINT=https://localhost

# BaseURL:
NEXT_PUBLIC_BASE_URL=http://localhost:3000

# Recaptcha
RECAPTCHA_PROJECT_ID=aSampleKey
NEXT_PUBLIC_RECAPTCHA_KEY=aSampleKey

# Paypal for Buzz Payments:
PAYPAL_SECRET=anotherkey
PAYPAL_CLIENT_ID=akey
NEXT_PUBLIC_PAYPAL_CLIENT_ID=akey
