# Since .env is gitignored, you can use .env-example to build a new `.env` file when you clone the repo.
# Keep this file up-to-date when you add new variables to `.env`.
# This file will be committed to version control, so make sure not to have any secrets in it.
# If you are cloning this repo, create a copy of this file named `.env` and populate it with your secrets.
# When adding additional env variables, the schema in /env/schema.mjs should be updated accordingly

# Prisma
DATABASE_URL=postgresql://postgres:postgres@locahost:5432/postgres

# Next Auth
NEXTAUTH_SECRET=
NEXTAUTH_URL=http://localhost:3000

# Next Auth Discord Provider
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=

# Next Auth GitHub Provider
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

# Next Auth Google Provider
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# File uploading
S3_UPLOAD_BUCKET=model-share
S3_UPLOAD_REGION=auto
S3_UPLOAD_ENDPOINT=
S3_UPLOAD_KEY=
S3_UPLOAD_SECRET=
CF_IMAGES_TOKEN=
CF_ACCOUNT_ID=
NEXT_PUBLIC_IMAGE_LOCATION=

# Endpoint Protection
JOB_TOKEN=
WEBHOOK_TOKEN=

# Security
SCANNING_ENDPOINT=http://scanner.civitai.com/enqueue
SCANNING_TOKEN=canihaztoken