.selectChat {
  cursor: pointer;
  border-radius: var(--mantine-spacing-xs); // Replace with Mantine's spacing variable
  padding: var(--mantine-spacing-xs); // Replace with Mantine's spacing variable
  padding-top: 6px;
  padding-bottom: 6px;

  &:hover {
    background-color: rgba(var(--mantine-color-blue-primary), 0.2); // Replace with Mantine's blue color variable
  }
}

.selectedChat {
  background-color: rgba(var(--mantine-color-blue-primary), 0.5) !important; // Replace with Mantine's blue color variable
}