.sidebar {
  width: 320px;
  height: 100%;
  background: light-dark(var(--mantine-color-dark-6), var(--mantine-color-gray-0));

  @container (max-width: theme('screens.sm')) {
    display: none;
  }
}

.root {
  display: flex;
  flex: 1;
  height: 100%;
}
