.preview {
  order: 1;

  @container (min-width: var(--mantine-breakpoint-xs)) {
    order: 2;
  }
}

.decorations {
  order: 2;

  @media (min-width: var(--mantine-breakpoint-xs)) {
    order: 1;
  }
}

.hideMobile {
  @media (max-width: calc(var(--mantine-breakpoint-xs) - 1px)) {
    display: none;
  }
}

.showMobile {
  @media (min-width: var(--mantine-breakpoint-xs)) {
    display: none;
  }
}