.actions {
  @container (max-width: theme('screens.sm')) {
    flex-direction: column;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: var(--mantine-spacing-md);
  }
}

.submitButton {
  @container (max-width: theme('screens.sm')) {
    width: 100%;
    order: 1;
  }
}
