.centerRadio {
  height: 100%;
  
  .mantine-Group-root {
    justify-content: space-between;
    align-items: stretch;

    @container (max-width: theme('screens.sm')) {
      justify-content: center;
    }
  }

  .mantine-Radio-inner {
    display: none;
  }

  .mantine-Radio-label {
    padding: var(--mantine-spacing-md);
  }

  .mantine-Radio-root {
    border-radius: var(--mantine-radius-md);

    &:hover {
      background-color: alpha(var(--mantine-color-blue-2), 0.1);
    }

    &[data-checked] {
      background-color: alpha(var(--mantine-color-blue-9), 0.2);
    }
  }
}

.radioCard {
  padding: var(--mantine-spacing-sm);
  border: none;
  width: auto;

  &:hover {
    background-color: alpha(var(--mantine-color-blue-2), 0.1);
  }

  &[data-checked] {
    background-color: alpha(var(--mantine-color-blue-9), 0.2);
  }

  figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
