.badge {
  cursor: pointer;
  background-color: var(--mantine-color-gray-6);
  border-color: var(--mantine-color-gray-5);
  color: var(--mantine-color-white);
  user-select: none;
}

.badgeHasMature {
  background-color: var(--mantine-color-red-1);
  border-color: var(--mantine-color-red-2);
  color: var(--mantine-color-red-7);
}

.inner {
  display: flex;
}

.createOption {
  font-size: var(--mantine-font-size-sm);
  padding: var(--mantine-spacing-xs);
  border-radius: var(--mantine-radius-sm);
}

.createOption:hover {
  background-color: var(--mantine-color-gray-1);
}

[data-mantine-color-scheme='dark'] .createOption:hover {
  background-color: var(--mantine-color-dark-4);
}

.input {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 11px;
}

.dropdown {
  margin-top: -12px;
  max-width: 300px !important;
}
