.card {
  background: light-dark(var(--mantine-color-dark-6), var(--mantine-color-gray-0));

  @container (min-width: theme('screens.sm')) {
    max-height: 376px;
    display: flex;
    gap: 40px;
  }
}

.section {
  @container (min-width: theme('screens.sm')) {
    margin-right: 0;
    margin-bottom: -40px;
  }
}

.title {
  font-size: 40px;

  @container (max-width: theme('screens.sm')) {
    font-size: 28px;
    margin-top: var(--mantine-spacing-xl);
  }
}

.root {
  height: 100%;
}

.figure {
  height: 100%;
}

.imageWrapper {
  height: 100%;
}
