.userBuzz {
  --buzz-gradient: var(--buzz-gradient);
  
  &.withGradient {
    background: var(--buzz-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
  }
}

.buzzIcon {
  &.withGradient {
    background: -moz-linear-gradient(top, #e72c83 0%, #a742c6 100%);
    background: -webkit-linear-gradient(top, #e72c83 0%, #a742c6 100%);
    background: linear-gradient(to bottom, #e72c83 0%, #a742c6 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.buzzText {
  font-variant-numeric: tabular-nums;
  
  &.withGradient {
    background: var(--buzz-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
  }
}

.buzzLoader {
  &.withGradient {
    color: var(--buzz-gradient);
  }
}
