.striped {
  li {
    display: flex;
    padding: calc(var(--mantine-spacing-xs) * 0.8); // 8px

    &:nth-of-type(2n) {
      background: light-dark(
        var(--mantine-color-gray-0),
        var(--mantine-color-dark-8)
      );
    }
  }
}