 .availabilityChip { 
  height: auto;
  overflow: hidden;
  
  > label {
    width: 100%;
    height: auto;
    padding: 16px 0;
    

    > span {
      display: none;
    }

    &[data-checked] {
      border: 2px solid;
      border-color: theme('colors.blue.5');
      background-color: default !important;
    }
  }
} 