.epochRow {
  flex-wrap: nowrap;

  @container (max-width: var(--mantine-breakpoint-sm)) {
    flex-direction: column;
    gap: var(--mantine-spacing-md);
  }
}

.selectedRow {
  border: 2px solid --alpha(var(--mantine-color-green-5), 0.7);
}

.paperRow {
  cursor: pointer;

  &:hover {
    background-color: --alpha(var(--mantine-color-blue-2), 0.1);
  }
}