.sampleGrid {
  display: grid;
  gap: var(--mantine-spacing-sm);
  align-items: start;
}

.selectedRow {
  border: 2px solid alpha(var(--mantine-color-green-5), 0.7);
}

.paperRow {
  cursor: pointer;

  &:hover {
    background-color: alpha(var(--mantine-color-blue-2), 0.1);
  }
}
