.title {
  line-height: 1.1;
  font-size: 14px;
  color: white;
  font-weight: 500;
}

.link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}

.reactions {
  position: absolute;
  bottom: 6px;
  left: 6px;
  border-radius: var(--mantine-radius-sm);
  background: light-dark(rgba(var(--mantine-color-dark-6-rgb), 0.6),
      var(--mantine-color-gray-0));
  // /* backdrop-filter: blur(13px) saturate(160%); */
  box-shadow: 0 -2px 6px 1px rgba(0, 0, 0, 0.16);
  padding: 4px;
  z-index: 1;
}