@keyframes moveBackground {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.awardedBanner {
  background: linear-gradient(45deg, var(--mantine-color-yellow-4), var(--mantine-color-yellow-1));
  animation: moveBackground 5s ease infinite;
  background-size: 200% 200%;
  color: var(--mantine-color-yellow-7);
}