.discordButton {
  --discord-color: #5865F2;
  background-color: var(--discord-color);

  &:hover {
    background-color: light-dark(
      color-mix(in srgb, var(--discord-color), black 5%),
      color-mix(in srgb, var(--discord-color), white 5%)
    );
  }
}


.googleButton {
  --google-color: #4285F4;
  background-color: var(--google-color);

  &:hover {
    background-color: light-dark(
      color-mix(in srgb, var(--google-color), black 5%),
      color-mix(in srgb, var(--google-color), white 5%)
    );
  }
}

.redditButton {
  --reddit-color: #FF5700;
  background-color: var(--reddit-color);

  &:hover {
    background-color: light-dark(
      color-mix(in srgb, var(--reddit-color), black 5%),
      color-mix(in srgb, var(--reddit-color), white 10%)
    );
  }
}

.emailButton {
  --email-color: #666;
  background-color: var(--email-color);

  &:hover {
    background-color: light-dark(
      color-mix(in srgb, var(--email-color), black 5%),
      color-mix(in srgb, var(--email-color), white 10%)
    );
  }
}

.githubButton {
  background-color: light-dark(
    var(--mantine-color-dark-6),
    var(--mantine-color-dark-9)
  );

  &:hover {
    background-color: light-dark(
      color-mix(in srgb, var(--mantine-color-dark-6), white 5%),
      color-mix(in srgb, var(--mantine-color-dark-9), white 2%)
    );
  }
}
