.reactions {
  position: absolute;
  bottom: 6px;
  left: 6px;
  border-radius: var(--mantine-radius-sm);
  background: var(--mantine-color-dark-6);
  opacity: 0.6;
  box-shadow: 0 -2px 6px 1px rgba(0, 0, 0, 0.16);
  padding: 4px;
}
