.card {
  height: '100%';
  background: light-dark(
    var(--mantine-color-gray-0),
    var(--mantine-color-dark-8)
  );
  border-radius: var(--mantine-radius-md);
  padding: var(--mantine-spacing-lg);
}

.price {
  font-size: 3rem; /* 48px */
  font-weight: 700;
}

/* Alert Cards */
.noSubscriptionCard {
  background: light-dark(var(--mantine-color-red-0), var(--mantine-color-dark-6));
  border: 1px solid var(--mantine-color-red-3);
  border-left: 4px solid var(--mantine-color-red-6);
}
