.dialogRoot {
  width: 400px;

  @container (max-width: theme('screens.sm')) {
    width: 85vw;
  }
}

.bannerRoot {
  position: absolute;
  top: -85%;
  left: 50%;
  height: 85%;
  width: 70% !important;
  transform: translateX(-50%);

  @container (max-width: theme('screens.sm')) {
    top: -65%;
    height: 65%;
    width: 65% !important;
  }
}

.bannerFigure {
  height: 100%;
}

.bannerImageWrapper {
  height: 100%;
}
