.listItem {
  cursor: pointer;
  border-top: 1px solid light-dark(var(--mantine-color-dark-4), var(--mantine-color-gray-3));

  &:first-of-type {
    border-top: none;
  }

  padding: var(--mantine-spacing-sm);

  &[data-unread="true"] {
    background: light-dark(var(--mantine-color-dark-6), var(--mantine-color-gray-0));

    &:hover {
      background: light-dark(
        var(--mantine-color-dark-6),
        var(--mantine-color-gray-0), 5%);
    }
  }

  &:hover {
    background: light-dark(rgba(255, 255, 255, 0.05), rgba(0, 0, 0, 0.05));
  }
}