.paper {
  background-color: color-mix(in srgb, rgb(var(--buzz-color)) 20%, transparent);
  margin: 0;
  display: flex;
  max-height: 100%;
  width: 100%;
  border-radius: var(--mantine-radius-md);
  border: 1px solid rgb(var(--buzz-color));
  padding: 1rem;}
