.button {
  overflow: hidden;

  :global {
    .mantine-Button-leftIcon {
      position: absolute;
      left: 12px;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &:last-of-type {
    :global {
      .mantine-Button-leftIcon {
        right: 12px;
        left: auto;
        margin-right: 0;
      }
    }
  }

  &[data-loading]::before {
    border-radius: 0;
  }
}
