.divider {
  flex: 1;
  border-bottom: 0;
  border: 1px solid;
  border-color: var(--mantine-color-dark-5);
}

.searchRoot {
  @container (max-width: 992px) {
    height: 100%;
  }
}

.searchWrapper {
  @container (max-width: 992px) {
    height: 100%;
  }
}

.searchInput {
  @container (max-width: 992px) {
    height: 100%;
  }
}
