.wrapper {
  @container (max-width: 768px) {
    overflow: auto;
    max-width: 100%;
  }
}

.label {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 6px;
  padding-right: 10px;
}

.root {
  background-color: transparent;
  gap: 8px;

  @container (max-width: 768px) {
    overflow: visible;
    max-width: 100%;
  }
}

.control {
  border: none !important;
  background-color: light-dark(var(--mantine-color-dark-5), var(--mantine-color-gray-1));
  border-radius: var(--mantine-radius-xl);

  svg {
    color: light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-6));
  }
}

.active {
  border-radius: var(--mantine-radius-xl);
}

.controlActive {
  border-radius: var(--mantine-radius-xl);
  background-color: light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-6));

  svg {
    color: light-dark(undefined, var(--mantine-color-gray-1));
  }

  & label {
    color: light-dark(var(--mantine-color-dark-7), var(--mantine-color-gray-1));

    &:hover {
      color: light-dark(var(--mantine-color-dark-3), var(--mantine-color-gray-2));
    }
  }
}