@keyframes moveBackground {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes pulse {
  0% {
    stroke: #ffd43b;
    opacity: 1;
  }

  50% {
    stroke: #f59f00;
    opacity: 0.7;
  }

  100% {
    stroke: #f08c00;
    opacity: 1;
  }
}

.lifetimeBuzzContainer {
  border: 2px solid var(--mantine-color-yellow-7);
  background: linear-gradient(45deg,
      var(--mantine-color-yellow-4),
      var(--mantine-color-yellow-1));
  animation: moveBackground 5s ease infinite;
  background-size: 200% 200%;
}

.goldText {
  background: linear-gradient(45deg,
      var(--mantine-color-yellow-4),
      var(--mantine-color-yellow-1));
  font-weight: 800;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.lifetimeBuzzBadge {
  background: var(--mantine-color-dark-6);
  border-radius: 22px;
  padding: 10px 20px;
}

.tileCard {
  background-color: light-dark(var(--mantine-color-dark-5), var(--mantine-color-gray-0));
}

.lifetimeBuzz {
  animation: pulse 1s ease-in-out infinite;
}