@keyframes moveBackground {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes pulse {
  0% {
    stroke: #ffd43b;
    opacity: 1;
  }

  50% {
    stroke: #f59f00;
    opacity: 0.7;
  }

  100% {
    stroke: #f08c00;
    opacity: 1;
  }
}

.lifetimeBuzzContainer {
  border: 2px solid var(--mantine-color-yellow-7);
  background: linear-gradient(45deg,
      var(--mantine-color-yellow-4),
      var(--mantine-color-yellow-1));
  animation: moveBackground 5s ease infinite;
  background-size: 200% 200%;
}

.goldText {
  background: linear-gradient(45deg,
      var(--mantine-color-yellow-4),
      var(--mantine-color-yellow-1));
  font-weight: 800;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.lifetimeBuzzBadge {
  background: var(--mantine-color-dark-6);
  border-radius: 22px;
  padding: 10px 20px;
}

.tileCard {
  background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-5));
  border-radius: var(--mantine-radius-md);
}

.lifetimeBuzz {
  animation: pulse 1s ease-in-out infinite;
}

/**
  * useBuzzButtonStyles
  */

.chipGroup {
  gap: var(--mantine-spacing-md);

  >* {
    width: 100%;
  }

  @container (max-width: theme('screens.sm')) {
    gap: var(--mantine-spacing-md);
  }
}

// Chip styling
.chipLabel {
  padding: var(--mantine-spacing-sm) var(--mantine-spacing-md);
  height: auto;
  width: 100%;
  border-radius: var(--mantine-radius-md);

  &[data-variant="filled"] {
    background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-5));
  }

  &[data-checked] {
    border: 2px solid var(--buzz-color);
    color: var(--buzz-color);
    padding: var(--mantine-spacing-sm) var(--mantine-spacing-md);
    background-color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-7));

    // &[data-variant="filled"],
    // &[data-variant="filled"]:hover {
    // }
  }
}

.chipCheckmark {
  display: none;
}

.chipDisabled {
  opacity: 0.3;
}

// Accordion styling
.accordionItem {
  background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-5));

  &:first-of-type,
  &:first-of-type>[data-accordion-control] {
    border-top-left-radius: var(--mantine-radius-md);
    border-top-right-radius: var(--mantine-radius-md);
  }

  &:last-of-type,
  &:last-of-type>[data-accordion-control] {
    border-bottom-left-radius: var(--mantine-radius-md);
    border-bottom-right-radius: var(--mantine-radius-md);
  }

  &[data-active="true"] {
    border: 1px solid var(--buzz-color);
    background-color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-7));
  }
}

// Icon styling
.buzzIcon {
  filter: drop-shadow(0 0 2px var(--buzz-color));

  &:not(:first-of-type) {
    margin-left: -4px;
  }
}
