.chipGroup {
  gap: var(--mantine-spacing-md);

  & > * {
    width: 100%;
  }

  @container (max-width: 768px) {
    gap: var(--mantine-spacing-md);
  }
}

.chipLabel {
  padding: var(--mantine-spacing-sm) var(--mantine-spacing-md);
  height: auto;
  width: 100%;
  border-radius: var(--mantine-radius-md);

  &[data-variant='filled'] {
    background-color: var(--mantine-color-dark-5);
  }

  &[data-checked] {
    border: 2px solid var(--mantine-color-accent-5);
    color: var(--mantine-color-accent-5);
    padding: var(--mantine-spacing-sm) var(--mantine-spacing-md);

    &[data-variant='filled'],
    &[data-variant='filled']:hover {
      background-color: var(--mantine-color-dark-7);
    }
  }
}

.chipCheckmark {
  display: none;
}

.chipDisabled {
  opacity: 0.3;
}

.accordionItem {
  background-color: var(--mantine-color-dark-5);

  &:first-of-type,
  &:first-of-type > [data-accordion-control] {
    border-top-left-radius: var(--mantine-radius-md);
    border-top-right-radius: var(--mantine-radius-md);
  }

  &:last-of-type,
  &:last-of-type > [data-accordion-control] {
    border-bottom-left-radius: var(--mantine-radius-md);
    border-bottom-right-radius: var(--mantine-radius-md);
  }

  &[data-active='true'] {
    border: 1px solid var(--mantine-color-accent-5);
    background-color: var(--mantine-color-dark-7);
  }
}

.buzzIcon {
  filter: drop-shadow(0 0 2px var(--mantine-color-accent-5));

  &:not(:first-of-type) {
    margin-left: -4px;
  }
}
