.cancelButton {
  @container (max-width: var(--mantine-breakpoint-sm, 768px)) {
    width: 100%;
    order: 2;
  }
}

.submitButton {
  @container (max-width: var(--mantine-breakpoint-sm, 768px)) {
    width: 100%;
    order: 1;
  }
}