.cancelButton {
  @container (max-width: theme('screens.sm')) {
    width: 100%;
    order: 2;
  }
}

.submitButton {
  @container (max-width: theme('screens.sm')) {
    width: 100%;
    order: 1;
  }
}