.badgeWithDistrib {
  &::after {
    content: '';
    position: absolute;
    pointer-events: none;
    inset: 1px;
    border: 1px solid var(--border-image);
    border-radius: --mantine-radius-sm;
    border-image: var(--border-image) 1;
    clip-path: inset(0% round 1px);
  }
}
