.label {
  font-size: 12px;
  font-weight: 600;

  &[data-checked] {
    &,
    &:hover {
      color: light-dark(var(--mantine-white), var(--mantine-black));
      border: 1px solid var(--mantine-color-primary);
    }

    &[data-variant="filled"] {
      background-color: transparent;
    }
  }
}