.root {
  position: relative;
}

.wrapper {
  position: absolute;
  bottom: -10px;
  width: 100%;
  z-index: 10;
  max-width: 360px;
}

.decoration {
  position: relative;
}

.lights {
  position: absolute;
  top: 50%;
  left: 0;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 44px;
  transform: translateY(-50%);
  padding: 0 10px;
}

.light {
  width: var(--size);
  height: var(--size);
  margin-left: calc(var(--size) * -0.75);
  transform: translateY(50%) rotate(6deg);
  transform-origin: top center;
}

.light:first-of-type {
  margin-left: 0;
}

.light:nth-of-type(4n-2) {
  transform: rotate(186deg) translateY(-60%);
}

.light:nth-of-type(4n-1) {
  transform: translateY(40%) rotate(-6deg);
}

.light:nth-of-type(4n) {
  transform: rotate(174deg) translateY(-55%);
}

.upgradedLight {
  width: calc(var(--size) * 1.2);
  height: calc(var(--size) * 1.2);
  margin-left: calc(var(--size) * -1.2 * 0.85);
  transform-origin: top center;
  transform: translateY(45%) rotate(6deg);
}

.upgradedLight:first-of-type {
  margin-left: 0;
}

.upgradedLight:nth-of-type(4n-2) {
  transform: rotate(186deg) translateY(-70%);
}

.upgradedLight:nth-of-type(4n-1) {
  transform: translateY(50%) rotate(-6deg);
}

.upgradedLight:nth-of-type(4n) {
  transform: rotate(174deg) translateY(-75%);
}
