.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(0deg, rgba(37, 38, 43, 0.8), rgba(37, 38, 43, 0));
  /* Uncomment the following line if backdrop-filter is supported */
  /* backdrop-filter: blur(5px) saturate(160%); */
  box-shadow: 0 -2px 6px 1px rgba(0, 0, 0, 0.16);
  z-index: 10;
  gap: 6px;
  padding: var(--mantine-spacing-xs);
}