.grid {
  display: grid;
  grid-template-columns: max-content 1fr max-content;
  align-items: center;
  column-gap: var(--mantine-spacing-md);
  row-gap: 4px;
}

.badgeText {
  font-size: var(--mantine-font-size-md);

  @container (max-width: theme('screens.md')) {
    font-size: var(--mantine-font-size-sm);
  }
}
