.raterBadge {
  position: relative;
  cursor: default;
  border: 1px solid theme('colors.blue.5');
  padding-left: 5px;
  background-color: theme('colors.gray.0');
  
  div {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: theme('colors.blue.5');
    opacity: 0.3;
  }

  span {
    display: flex;
    align-items: center;
  }

  svg {
    margin-right: 5px;
  }
}

:global([data-mantine-color-scheme="dark"]) {
  .raterBadge {
    background-color: theme('colors.dark.4');
  }
}

.levelUp {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: visible;
  animation: fadeOut 500ms ease-in 2s forwards;

  @media (max-width: 768px) {
    max-width: 80%;
    width: 100%;
  }
}
